@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,700;1,400&display=swap');
/* Variables  */
:root {
    --primary:#436343;
    --accent: #B78C19;
    --light: #F7E9D8;
    --dark: #1D1200;
    --medium: #7F6663;
    --light-grey: #F1F1F1; /* #e6e6e6;*/
    --dark-grey: #6c757d;
    --main-border-radius: 12px/6px;
}

/* Main structure */
html, body{
    font-family: 'Poppins', sans-serif;     
    margin:0;
    padding:0;
    width: 100%;
    height: 100%;
    position: relative;
    font-size: 1rem;
    color: #fff;
}
/* Accessibility of smooth scrolling */
html {
    scroll-behavior: smooth;
}
@media (prefers-reduced-motion: reduce) {
    html {
      scroll-behavior: auto;
    }
}

/* utility classes  */
.text-left {
    text-align: left;
}
.text-right {
    text-align: right;
}
.text-center {
    text-align: center;
}

/* links  */
a {
    color: var(--primary);
}
a:hover,
a:focus,
a:active {
    color: var(--accent);
}
/* a:visited {
    color: var(--medium);
} */
a:focus-visible {
    color: var(--accent);
    outline: 1px solid var(--accent);
    padding: 2px 0;
    border-radius: 4px;
}

/* Basic image styles  */
.img-responsive {
    /* width: 100%; */
    max-width: 100%;
    height: auto;
}
.photo {
    border-radius: 80% 40%;
    border: solid var(--light);
    border-width: 5px 20px 5px 20px;
    padding: 0.5rem;
    box-sizing: border-box;
}

/* Buttons  */
.button {
    /* padding: 1rem 1.5rem; */
    /* border-radius: 80% 40%; */
    padding: 0.5rem 1rem;
    border-radius: var(--main-border-radius);
    width: max-content;
    text-transform: capitalize;
    font-variant: small-caps;
    text-decoration: none;
    transition: all 0.5s ease-in-out;
}
.button-main {
    background-color: var(--light);
    color: var(--dark);
    border: solid var(--dark);
    border-width: 1px 3px 1px 3px;
}
.button-main:hover,
a.button-main:hover {
    background-color: var(--medium);
    color: var(--light);
    border: solid var(--light);
    border-width: 1px 3px 1px 3px;
}
.button-small {
    padding: 0.25rem 0.75rem;
}

/* languages  */
.lang {
    max-width: 35px;
    transition: all 0.3s ease-in-out;
}
.lang:hover {
    transform: scale(1.1);
    transition: all 0.3s ease-in-out;
}
.lang-switcher {
    position: absolute;
    top: 20px;
    right: 1rem;
}

/* typography  */
h1,
h2 {
    margin-top: 1rem;
}
p {
    line-height: 1.7;
    margin-top: 0;
    margin-bottom: 1.25rem;
}
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 1rem;
}
.card-title.with-subtitle {
    margin-bottom: 0.2rem;
}
.card-subtitle {
    font-size: 1.2rem;
    font-weight: bold;
    font-variant: small-caps;
    margin-bottom: 1rem;
    margin-top: 0;
}

/* code examples  */
pre code {
    display: block;
    white-space: pre-wrap;
    padding: 0 1rem;
    text-align: left;
    font-size: 1rem;
    font-weight: 600;
    border: 1px solid var(--light);
    background-color: var(--dark);
}

/* Torna su  */
#torna-su {
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: var(--light);
    color: var(--medium);
    opacity: 0.5;
    padding: 0.12rem 0.5rem;
    border-radius: 50%;
}
.hide {
    display: none;
}
.show {
    display: block;
}

/* Navigation  */
nav {
    padding: 0.75rem 1rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
nav .lang {
    margin-left: 1.5rem;
}
nav .button {
    padding: 0.35rem 0.75rem;
    border-radius: var(--main-border-radius);
}
nav .button.active {
    background-color: var(--medium);
    color: var(--light);
}
nav .button.active:hover,
nav .button.active:focus,
nav .button.active:visited {
    background-color: var(--medium);
    color: var(--light);
}
nav .nav-logo {
    margin-right: auto;
}
nav .nav-logo img {
    max-width: 45px;
}
.navbar-toggler {
    display: none;
}
#navigation {
    margin-right: 45px;
}

/* footer  */  
footer {
    background-color: var(--primary);
}
.footer-container {
    padding: 1rem 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    justify-content: space-between;
}
.footer-container a {
    color: white;
}
.footer-container a:hover {
    color: var(--light);
}
.footer-container .logo img {
    max-width: 180px;
}
.footer-container .social {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    font-size: 1.5rem;
    gap: 1rem;
}
/* book shape divider bottom  */
main.with-shape-divider {
    position: relative;
    padding-bottom: calc(1rem + 81px);
}
.book-shape-divider {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}
.book-shape-divider svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 81px;
}
.book-shape-divider .shape-fill {
    fill: var(--primary);
}

/* Home page  */
.home-header {
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem 2rem;
}
.home-container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    overflow: hidden;
}
#main-container {
    display: grid;
    grid-template-rows: max-content 100% max-content;
    min-height: 100vh;
}
.home-container,
#main-container {
    background-image: url(../img/spirit-bg.jpg);
    background-position: left top;
    background-size: 150%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.home-left, 
.home-right {
    padding: 1rem;
}
.home-left {
    text-align: center;
}
.home-left .logo {
    max-width: 300px;
    height: auto;
}
.home-left p {
    font-size: 1.3rem;
    margin: 2rem 0 2.5rem 0;
}
.home-left .social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.home-left .social a {
    color: white;
    text-decoration: none;
}
.home-left .social a:hover {
    color: var(--light);
    text-decoration: none;
}
.home-left .menu {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
}
.home-right {
    display: flex;
    justify-content: center;
}
.home-right .photo {
    filter: brightness(1.05) saturate(1.4);
}

/* main page styles  */
#main-container {
    position: relative;
}
main {
    padding: 1rem;
}
.main-row {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    padding: 1rem;
}
.main-row .images {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.main-row .card {
    width: calc(100% - 2.5rem);
}
.header-flex-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-flex-between > * {
    height: max-content;
}
.header-flex-between .button {
    white-space: nowrap;
}
.horizontal-center {
    display: flex;
    justify-content: center;
}

/* cards  */
.card {
    border-radius: var(--main-border-radius);
    background-color: white;
    color: var(--dark);
    padding: 1rem 1.25rem;
    margin-bottom: 1rem;
    max-width: 768px;    
    justify-self: center;
}

/* icons  */
.icons-container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
    font-size: 2rem;
}

/* website showcase  */
.box-sito {
    background-color: #E8E8E8;
    color: var(--dark);
    border-radius: var(--main-border-radius);
}
.box-sito img {
    aspect-ratio: 16 / 9;
    border-top-left-radius: var(--main-border-radius);
    border-top-right-radius: var(--main-border-radius);
}
.sito-description {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0.5rem 1rem;
    border-bottom-left-radius: var(--main-border-radius);
    border-bottom-right-radius: var(--main-border-radius);
}
p.sito-titolo {
    font-size: 1.2rem;
    font-variant: small-caps;
    margin-bottom: 0;
}
p.sito-date {
    font-size: 0.9rem;
    margin-bottom: 0;
}
p.sito-url {
    margin-bottom: 0;
}

/* Slick slider  */
/* To prevend slider from getting too big */
* {
    min-height: 0;
    min-width: 0;
}
/* slick slider override  */
.slick-dots {
    bottom: 0px;
}
.slick-dotted.slick-slider {
    margin-bottom: 0;
}
.slick-dots li button {
    position: relative;
    top: 0;
    width: 15px;
    height: 15px;
    opacity: 0.75;
    background-color: var(--light);
    border-radius: 50%;
    border: none;
    box-shadow: 1px 1px 3px var(--medium);
}
.slick-dots li.slick-active button {
    opacity: 1;
    background-color: var(--medium);
    border-radius: 50%;
    border: 1px solid var(--medium);
    box-shadow: 2px 2px 4px var(--dark);
}
.slick-dots li button::before {
    color: transparent;
}
.slick-dots li.slick-active button::before {
    opacity: 1;
    color: transparent;
}
.slick-list, 
.slick-slide.box-sito {
    border-radius: var(--main-border-radius);
}
.slick-prev::before, .slick-next::before {
    color: var(--light);
}

/* media queries  */
@media all and (max-width: 1200px) {
    .home-container {
        width: 100%;
        min-height: 100%;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(2, max-content);
        gap: 3rem;
        overflow: auto;
    }
    .home-container, #main-container {
        background-size: cover;
      }
    .home-right {
        padding-bottom: 3rem;
    }
    .home-right .photo {
        max-width: 800px;
    }
}
@media all and (max-width: 992px) {
    .main-row {
        grid-template-columns: 1fr;
          
        margin-bottom: 1rem;
    }
    .main-row-invert .images {
        order: 2;
    }
    .home-right .photo {
        max-width: 100%;
    }
}
@media all and (max-width: 800px) {
    .navbar-toggler {
        display: initial;
        cursor: pointer;
        padding: 0.5rem 1.25rem;
        font-size: 1.35rem;
        /* margin-right: auto; */
        position: absolute;
        top: 12px;
        left: 50%;
        transform: translate(-50%);
    }
    #navigation.show {
        display: flex;
        margin-right: 0;
    }
    #navigation {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 65px;
        align-items: center;
        gap: 0.25rem;
        background: rgba(67, 99, 67, 0.95);
        padding: 1rem;
        left: 0;
        right: 0;
        border-bottom: 1px solid var(--primary);
    }
    #navigation .button {
        text-align: center;
        border: none;
        background: transparent;
        color: var(--light);
        font-size: 1.2rem;
        transition: none;
    }
    #navigation .button.active,
    #navigation .button:hover {
        background-color: var(--light);
        color: var(--dark);
        border-radius: 0;
        width: 100%;
        transition: none;
    }
    .card {
        max-width: unset;
        width: unset;
    }
}
@media all and (max-width: 576px) {
    .photo {
        border-width: 3px 10px 3px 10px;
    }
    .home-left {
        padding-top: 3rem;
    }
    .home-header {
        padding: 1rem;
    }
    .home-right .photo {
        /* max-width: 100%; */
        max-width: calc(100% - 2rem);
    }
    .header-flex-between {
        flex-direction: column;
        margin-bottom: 1rem;
    }
    .footer-container {
        grid-template-columns: 1fr;
        justify-content: center;
    }
    .footer-container .logo,
    .footer-container .social {
        text-align: center;
        justify-content: center;
    }
}
@media all and (max-width: 480px) {
    .home-left .logo {
        max-width: 100%;
        height: auto;
    }
    .main-row {
        padding: 0;
    }
}